<div class="container">
  status = {{ slotObj.status }}
  <ng-container [ngSwitch]="slotObj.status">
    <button *ngSwitchCase="0" type="button" class="btn btn-secondary" disabled>
      Unavailable
    </button>
    <button
      *ngSwitchCase="1"
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      [attr.data-bs-target]="
        '#modalBookAvailableSlot' + slotObj.date + slotObj.id
      "
    >
      Available
    </button>
    <button *ngSwitchCase="2" type="button" class="btn btn-warning" disabled>
      Booked by other
    </button>
    <button
      *ngSwitchCase="3"
      type="button"
      class="btn btn-success"
      data-bs-toggle="modal"
      [attr.data-bs-target]="
        '#modalUnbookAvailableSlot' + slotObj.date + slotObj.id
      "
    >
      Booked by user
    </button>
    <button *ngSwitchDefault type="button" class="btn btn-secondary" disabled>
      Error
    </button>
  </ng-container>
</div>

<!-- Modal: Book available slot. -->
<div
  class="modal fade"
  [id]="'modalBookAvailableSlot' + slotObj.date + slotObj.id"
  tabindex="-1"
  aria-labelledby="modalBookAvailableSlotLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalBookAvailableSlotLabel">
          Book this slot? {{ slotObj.date }}: {{ slotObj.id }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- Content -->
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="bookSlot()"
        >
          Book slot
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal: Unbook slot. -->
<div
  class="modal fade"
  [id]="'modalUnbookAvailableSlot' + slotObj.date + slotObj.id"
  tabindex="-1"
  aria-labelledby="modalUnbookAvailableSlotLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalUnbookAvailableSlotLabel">
          Remove this booking? {{ slotObj.date }}: {{ slotObj.id }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- Content -->
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="unbookSlot()"
        >
          Yes, remove the booking.
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
